.container-GetStarted {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

@media (max-width: 768px) {
    .container-GetStarted {
        padding: 30px 19px;
    }

}