.container-addwallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 100%;
}

.container-addwallet>h1 {
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 53.667px;
}

.container-addwallet>p {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.ctas-addwallet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 100%;
}

.ctas-addwallet button {
    width: 532px;
    height: 159px;
    border-radius: 8px;
    background: #1D2328;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
    transition: all 0.5s linear;
    box-shadow: -20px -26px 95px -48px rgb(0, 0, 0);

}

/* .ctas-addwallet button:hover {
    box-shadow: -20px -26px 95px -48px rgba(39, 202, 63, 0.452);

} */
.ctas-addwallet button:disabled {
    opacity: .5;
}

.ctas-addwallet button h3 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    /* 150% */
}

.ctas-addwallet button p {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.lottie-addwallet {
    height: 400px;
}

@media (max-width: 768px) {

    .container-addwallet{
        gap: 5px;
    }
    .lottie-addwallet {
        height: 200px;
    }
    .container-addwallet>h1{
        font-size: 30px;
        line-height: 40px;
    }
    .container-addwallet>p {
        font-size: 12px;
        line-height: 20px;
    }
    .ctas-addwallet button{
        max-width: 100%;
    }
    .ctas-addwallet button h3{
        font-size: 15px;
    }
    .ctas-addwallet button p{
        font-size: 10px;
    }
    .ctas-addwallet button img{
        width: 43px;
        height: 43px;
    }
}