@keyframes skeleton-fade {

    0% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.skeleton {
    height: var(--skeleton-height, auto);
    width: var(--skeleton-width, 100%);
    position: relative;
    transform: translateZ(0);

    &[data-animate='true'] {
        animation: skeleton-fade 1.4s ease infinite;
    }

    &[data-visible='true'] {
        overflow: hidden;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.06) 25%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.06) 63%);
        background-size: 400% 100%;
    }
}