.container-ImportWallet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 100%;
}


.container-ImportWallet h1 {
    color: #FFF;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 53.667px;
    /* 119.259% */
}

.container-ImportWallet p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 800px;
    /* 200% */
}


.container-ImportWallet>select {
    border-radius: 8px;
    border: 1px solid #3E3E3E;
    background: #101010;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 5px;
    margin-right: auto;
    outline: none;
    margin-top: 20px;
}


.seed-ImportWallet {
    display: grid;
    grid-template-columns: repeat(4, calc(100% /4.4));
    width: 967px;
    min-height: 150px;
    padding: 33px 38px;
    gap: 24px;
    border-radius: 24px;
    background: #101010;
    margin-top: 15px;
    max-width: 100%;
}

.seed-ImportWallet span {
    display: flex;
    padding: 2px 16px 2px 0;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    background: #242424;
    color: var(--Colors-Neutral-Grey-White, #FFF);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seed-ImportWallet span>label {
    margin-right: 5px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 16px;
}

.seed-ImportWallet input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    background: inherit;
    color: inherit;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    outline: none;
}

.cta-ImportWallet {
    display: flex;
    width: 100%;
    padding: 0px 12.105px;
    justify-content: center;
    align-items: center;
    gap: 4.035px;
    border-radius: 4.035px;
    background: var(--Ocean, linear-gradient(91deg, #0FEF9E -0.23%, #064560 105.78%));
    box-shadow: 0px 0.303px 0.908px 0px rgba(0, 0, 0, 0.32), 0px 1.614px 3.631px 0px rgba(0, 0, 0, 0.28);
    color: var(--Primitive-White, #FFF);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.166px;
    padding: 5px 0;
    margin-top: 15px;
    /* 136.899% */
}

.cta-ImportWallet:disabled {
    opacity: 0.5;
}

.lottie-ImportWallet {
    height: 200px;
}


@media (max-width: 768px) {
    .container-ImportWallet h1 {
        font-size: 25px;
        line-height: 40px;

    }

    .container-ImportWallet p {
        font-size: 12px;
        line-height: 25px;
    }

    .lottie-ImportWallet {
        height: 150px;
    }

    .seed-ImportWallet {
        display: grid;
        grid-template-columns: repeat(3, calc(100% /3.2));
        padding: 20px 15px;
        gap: 14px;
        margin-top: 10px;
    }

    .seed-ImportWallet span {
        font-size: 12px;
    }

    .seed-ImportWallet input {
        font-size: 12px;
    }

    .seed-ImportWallet span>label {
        padding-left: 10px;
    }
}

@media (max-width: 370px) {
    .seed-ImportWallet {
        display: grid;
        grid-template-columns: repeat(3, 90px);
        padding: 20px 15px;
        gap: 14px;
    }

    .seed-ImportWallet span {
        font-size: 10px;
    }

    .seed-ImportWallet input {
        font-size: 10px;
    }
}