name: Deploy Web Wallet

on:
  push:
    branches: [main]
    tags: ["v*"]

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    environment: ${{ startsWith(github.ref, 'refs/tags/v') && 'prod' || 'beta' }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set environment variables
        run: |
          echo "CNAME=${{ vars.CNAME }}" >> $GITHUB_ENV
          echo "IS_PRODUCTION=${{ vars.IS_PRODUCTION }}" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_IS_PRODUCTION=${{ vars.IS_PRODUCTION }}" >> $GITHUB_ENV
          echo "NODE_VERSION=${{ vars.NODE_VERSION }}" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_GA_ID=${{ vars.GA_ID }}" >> $GITHUB_ENV
          echo "NEXT_PUBLIC_WRAPTO_WALLET_ADDRESS=${{ vars.WRAPTO_DEPOSIT_ADDRESS }}" >> $GITHUB_ENV

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: yarn

      - name: Install dependencies
        run: yarn install

      - name: Build wallet package
        run: yarn workspace @pactus-wallet/wallet build

      - name: Build web app
        run: yarn build:web

      - name: Deploy to Production (Stable Release)
        if: env.IS_PRODUCTION == 'true'
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.DEPLOY_TOKEN }}
          external_repository: pactus-project/pactus-wallet-deploy
          publish_dir: ./apps/web/out
          cname: ${{ env.CNAME }}

      - name: Deploy to Staging (Pre-Release)
        if: env.IS_PRODUCTION == 'false'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./apps/web/out
          cname: ${{ env.CNAME }}
